h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title{
    background-color: #ff4c68;
    color: white;
}

/* Nav bar */

a.navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4rem;
}
a.nav-link{
    color: white;
}
.nav-item{
    padding: 0 18px;
    color: white;
}
.navbar-nav{
    padding-right: 50px;
}

.container-fluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
}



/* Download Button */
.download-btn{
    margin: 5% 3% 5% 0;
}

/* Header Image */
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
@media (max-width: 990px) {
    .title-image{
        position: static;
        transform: rotate(0deg);
        width: 50%;
    }
    #title{
        text-align: center;
    }
}
/* feature section */

#features .fa-solid{
    color: red;
    padding: 2rem 0;
}
#features .fa-solid:hover{
    color: #ff4c68;
}
#features{
    padding: 5rem;
    background-color: #fff;
    position: relative;
}

#features h3{
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
.feature-box{
    text-align: center;
}
p{
    color: #8f8f8f;
    padding: 0 15%;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

h2{
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    margin: 2rem 0 ;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{    
    padding: 7% 15%;
}

/* pricing section */

#pricing{
    text-align: center;
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* call to action section */

#cta{
    font-family: mo;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 5% 20%;
}
#cta h3{
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* footer section */
#footer{
    padding: 5% 15% 2%;
    text-align: center;
}
#footer i{
    padding: 0 20px;
}